#header_div{
    background-color: gray;
    font-family: 'Indie Flower', cursive;
}

.copy_right_footer{
    position: fixed;
    color: gray;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: lightgray;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}

#main_div{
    font-family: 'Indie Flower', cursive;
    background-color: lightgray;
}